
html {
  min-height: 1000px;
  font-family: 'helvetica neue';
}

/* NAVBAR */
.nav-logo{
  border-radius: 100%;
  height: 2.5rem;
  margin-right: 0.6rem;
}

/* HERO */
.hero-background {
  background: #0077c0;
  background: linear-gradient(to right, #0077c0, #0072b7 70%);
  width: 100%;
  background-size: 100%;

}

.bg-image {
  background-position: right;
  overflow: hidden;
  background-repeat: no-repeat;
  margin-top: 5rem;
  background-size: contain;
}

.hero-img {
  width: auto;
}

.hero-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  /* background: rgba(255, 231, 150 , 0.1); */
}

.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.hero-title {
  color: #F9F5EB;
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
  text-align: left;
}

.hero-subtitle {
  color: #F9F5EB;
  text-shadow: 2px 2px black;
  text-align: left;
  font-size: 1rem;
  font-weight: 900;
}
/* CARDS */
.card {
  width: 18rem;
}

